$baseColor:#0967C7;


.main-container{
    background: #fff;
    .main-topbox{
        display:flex;
        background-color:$baseColor; 
        height: 50px;
        color: #fff;
        align-items: center;
        justify-content: space-around;
        
        img{
            height: 30px;
        }
        .searchbox{
            width: 70%;
            background: #fff;
            height: 30px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                height: 20px;
                padding-left: 6px;
            }
            label{
                color:#b2b2b2;
            }
        }
    }
    .card{
        padding-top: 30px;
        padding-bottom: 10px;
        .cardtopbox{
            height: 20px;
            display: flex;
            align-items: flex-end;
            h3{
                color: $baseColor;
                margin-bottom: 0;
            }
            p{
                padding-left: 5px;
                margin-bottom: 0;
            }
        }
    }
    .enjoy{
        padding-top: 30px;
        h3{
            text-align: start;
            font-size: 16px;
            color: $baseColor;
        }
        .enbox{
            display: flex;
            .leftbox{
                img{
                    height: 120px;
                    width: 120px;
                }
            }
            .rightbox{
                display: flex;
                justify-content: space-between;
                flex: 1;
                text-align: start;
                div{
                    margin-left: 10px;
                    h2{
                        margin-top: 0;
                    }
                }
                p{
                    margin-top: 0
                }
            }
        }
    }
}