$baseColor:#0967C7;



.box{
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .chatbox{
        position: absolute;
        top: 50%;
        margin-top: -90px;
        width: 70%;
        .ava{
            margin: 0 auto;
            width: 80px;
            height: 80px;
            
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }
}