$baseColor:#0967C7;


div{
    .RegBtn{
        background-color:$baseColor;
        color:#fff;
    }
    .regbtn{
        background-color:#09C2F0;
        color:#fff;
    }
    .Regfont{
        color: $baseColor;
        font-size: 16px;
    }
    .Regfont{
        color:$baseColor;
        font-size: 16px;
    }
}